## Python Programming For Chemists - Part 2

### Assignment

In [2]:
x = 5
x

5

In [3]:
y=x

In [4]:
y

5

In [5]:
x=29

In [6]:
x,y

(29, 5)

In [7]:
a = [1,2,3]

In [8]:
b = a

In [9]:
a,b

([1, 2, 3], [1, 2, 3])

In [10]:
a[0] = 99

In [11]:
a,b

([99, 2, 3], [99, 2, 3])

### Boolean

In [12]:
True & True

True

In [13]:
True & False

False

In [14]:
True | False

True

### Integers

In [15]:
5

5

In [16]:
01

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3451288710.py, line 1)

In [17]:
+111

111

In [18]:
-111

-111

In [19]:
1_000_000

1000000

### Integer Operations

In [30]:
22/3

7.333333333333333

In [31]:
22%3

1

In [34]:
a = 22//3
a

7

In [35]:
a + 4

11

In [36]:
a

7

In [37]:
a = a +4

In [38]:
a += 4

### Precedence

In [39]:
6 + 2 * 3

12

In [40]:
(6 + 2) * 3

24

In [41]:
-5 **2

-25

In [42]:
(-5)**2

25

### Floats

In [4]:
2.0

2.0

In [5]:
02.0

2.0

In [6]:
2.

2.0

In [7]:
2e3

2000.0

### Type conversion

In [8]:
int(True)

1

In [9]:
bool(1)

True

In [10]:
int(12.1)

12

In [11]:
float(1)

1.0

In [12]:
str(2)

'2'

In [13]:
int('2')

2

In [14]:
3 + 7.1

10.1

## Excercise

* Assign the value 42 to a variable
* What type is the value 111?
* What type is the value 2.0?
* What type is the expression 2.0 +55?

### Strings & Formatting

In [17]:
a = 'aspirin'
a

'aspirin'

In [18]:
b = "paracetamol"
b

'paracetamol'

In [19]:
"'hallo' he said"

"'hallo' he said"

In [21]:
'This is "cool"'

'This is "cool"'

In [22]:
""" Once upon
a time there was a 
king """

' Once upon\na time there was a \nking '

In [26]:
print("Hi\nthere! How\tare you?")

Hi
there! How	are you?

In [27]:
letters = 'abcdefghijklmnopqrstuvwxyz'
letters[3]

'd'

In [28]:
letters[-1]

'z'

In [29]:
letters[:4]

'abcd'

In [31]:
letters[:-1]

'abcdefghijklmnopqrstuvwxy'

### Special String Functions

In [33]:
len(letters)

26

In [36]:
things = "apple banana mango strawberry"
things_list = things.split()
things_list

['apple', 'banana', 'mango', 'strawberry']

In [37]:
"#".join(things_list)

'apple#banana#mango#strawberry'

In [38]:
things.replace("a","ü")

'üpple bününü müngo strüwberry'

In [41]:
"   abc   ".strip()

'abc'

In [42]:
things.endswith("ry")

True

In [43]:
things.startswith("app")

True

In [45]:
things.count("a")

6

### Formatting

In [48]:
thing = "dog"
place = "house"
f"The {thing} is in the {place}"

'The dog is in the house'

In [54]:
f"The {thing:>10} is in the {place}"

"The        dog is in the place='house'"

In [55]:
f"The {thing =} is in the {place =}"

"The thing ='dog' is in the place ='house'"

### Number Formatting

In [56]:
value = 3.141592653589793
print(f"Pi to 2 decimal places: {value:.2f}")

Pi to 2 decimal places: 3.14

In [57]:
value = 42
print(f"Right aligned (width 5): {value:5}")
print(f"Left aligned (width 5): {value:<5}")
print(f"Zero padded (width 5): {value:05}")

Right aligned (width 5):    42
Left aligned (width 5): 42
Zero padded (width 5): 00042

In [58]:
value = 123456789
print(f"Scientific notation: {value:.2e}")

Scientific notation: 1.23e+08

In [59]:
value = 0.857
print(f"Percentage: {value:.2%}")

Percentage: 85.70%

### Old Style Formatting

In [60]:
value = 42
print("Integer: %d" % value)

Integer: 42

In [61]:
value = 3.141592653589793
print("Pi to 2 decimal places: %.2f" % value)

Pi to 2 decimal places: 3.14

In [62]:
value = 42
print("Right aligned (width 5): %5d" % value)
print("Left aligned (width 5): %-5d" % value)
print("Zero padded (width 5): %05d" % value)

Right aligned (width 5):    42
Left aligned (width 5): 42
Zero padded (width 5): 00042

## Exercise: Deriving the Gas Constant from Avogadro's and Boltzmann's Constants

The gas constant $R$ can be derived by multiplying Avogadro's constant $N_A$ and the Boltzmann constant $k$:
$$
R = N_A \times k
$$
where:
- $N_A = 6.02214076 \times 10^{23} \, \text{mol}^{-1}$
- $k = 1.380649 \times 10^{-23} \, \text{J} \cdot \text{K}^{-1}$

**Instructions:**

1. Define two variables, `avogadro_constant` and `boltzmann_constant`, with the given values of Avogadro’s and Boltzmann’s constants.
2. Calculate the gas constant $R$ by multiplying `avogadro_constant` and `boltzmann_constant`.
3. Using string formatting, display the calculated gas constant $R$ rounded to four decimal places in the units $\text{J} \cdot \text{K}^{-1} \cdot \text{mol}^{-1}$.
4. (Bonus) Convert the constant from $\text{J}$ to $\text{kcal/mol}$.